*{
  text-align: center;

}
.App-header{
  margin-top: 2rem;

    /* align-items: flex-end; */
}
.App{
  margin-bottom: 1rem;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-end; */
}
.frjscc > input {
  width: 100%;
  padding: 0 0 0 13px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  font-size: inherit;
  font-family: inherit;
  color: #212121;
  text-align: left;
}
.search{
 
  box-shadow: 2px 2px #96abf9ad;
  border-radius: 22px;
  height: 2.5rem;
  border-color: #979de626;
  width: 23rem;
}
